extends ../layouts/login-layout.pug

block content
    .loginContainer
        h1 Register
        form#registerForm(method="post", onsubmit="event.preventDefault(); validationForm();")

            p.errorMessage #{errorMessage}

            input(type="text", name="firstName", placeholder="First name", value=firstName, required="")
            input(type="text", name="lastName", placeholder="Last name", value=lastName, required="")
            input(type="text", name="username", placeholder="Username", value=username, required="")
            input(type="email", name="email", placeholder="Email", value=email, required="")
            input#password(type="password", name="password", placeholder="Password", value=password, required="")
            input#passwordConf(type="password", name="passwordConf", placeholder="Confrim password", value=passwordConf, required="")
            input(type="submit", value="Register")
        a(href="/login") Already have an account? Login here.
    script(src="/js/validationForms.js", type="text/javascript")